
# include the license
include LICENSE.md
include README.md
include requirements.txt
include Pipfile

# include entire package
graft ab12phylo
prune ab12phylo/__pycache__

# include documentation
graft docs

# include dists
graft tar.gz / wheel
